

@model EmprestimosModel
@{
    ViewData["Title"] = "Exluir Empréstimo";
}


<div class="container bg-light  p-5  rounded-5">
    <div class="mg-5 text-center ">

        <h1 class="text-dark">Excluir de Empréstimos</h1>

    </div>

    <form method="post" asp-controller="Emprestimo" asp-action="Excluir">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label for="Recebedor" class="form-label text-dark">Recebedor</label>
            <input type="text" class="form-control" asp-for="Recebedor" id="Recebedor" placeholder="Quem está recebendo o livro?" disabled>
            <span class="text-danger" asp-validation-for="Recebedor" class="w-25"></span>

        </div>
        <div class="mb-3">
            <label for="Fornecedor" class="form-label text-dark">Fornecedor</label>
            <input type="text" class="form-control" asp-for="Fornecedor" id="Fornecedor" placeholder="Quem está emprestrando o livro?" disabled>
            <span class="text-danger" asp-validation-for="Fornecedor"></span>
        </div>
        <div class="mb-3">
            <label for="Livro" class="form-label text-dark">Livro</label>
            <input type="text" class="form-control" asp-for="LivroEmprestado" id="Livro" placeholder="Livro" disabled>
            <span class="text-danger" asp-validation-for="LivroEmprestado"></span>
        </div>
        <div class="mb-3 form-check">
        </div>

        <div class="d-flex gap-5 mt-5">

            <button type="submit" class="btn btn-outline-danger mx-2 w-50">Excluir</button>
            <a class="btn btn-outline-success w-50" asp-controller="Emprestimo" asp-action="Index">Voltar</a>

        </div>


    </form>

</div>